<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>Showcase for the @TITLE@ extension</description>
    <author>Dannes Wessels</author>
    <author>Leif-Jöran Olsson</author>
    <website>https://github.com/eXist-db/jfreechart</website>
    <status>alpha</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>jfreechart-showcase</target>
    <prepare>pre-install.xql</prepare>
    <finish/>
</meta>
